/* CSS Variables */
:root {
  --primary: #3151B7;
  --secondary:#3C3956;
  --background: #F4F4F4;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/*****************UNIVERSAL STYLES**********************************/
*{
	margin:0;
}

body {
  background: var(--background);
  font-size: 16px;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

li{
	list-style: none;
	display: inline-grid;
}

a{
	text-decoration: none;
	text-transform: uppercase;
}

footer {
  background: #757B81;
  text-align: center;
  padding: 10px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

.btn {
  background: var(--primary);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

/***********NAVIGATION*********************/
header{
  height: 70px;
  background-color: #fff;
}
.nav_bar{
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo{
	display: inline-flex;
  padding-top: 8px;
}
.logo img{
	width: 30px;
	margin-right:10px;
	margin-bottom: 10px;
  margin-left:20px;
  padding-top: 5px;
} 

.logo .logo_text{
	font-size: 35px;
	font-family: 'Righteous', cursive;
	font-weight: bold;
	color:var(--secondary);
  padding-top: 5px;
}

#nav{
  text-align: right;
  padding: 17px;
  padding-top: 12px;
}
#nav li{
  padding: 5px;
}

#nav a{
  color:#333333;
  font-size: 14px;
  font-weight: bold;
}
#nav a:hover{
  color:var(--primary);
}
#nav #home{
  margin-right: 15px;
}

#nav img{
  margin-top: 5px;
  border-radius: 50%;
}

header p{
  color: var(--secondary);
  font-weight: bold;
}


/**********SHOWCASE**********************/
#showcase{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://res.cloudinary.com/evansinho/image/upload/v1560631345/showcase_2.jpg') no-repeat center center/cover;
  height: 100vh;
}
.showcase_text{
  text-align: center;
  padding-top: 150px;
}
.showcase_text h1{
  font-size:48px;
  color: var(--light);
  text-transform: uppercase;
}
.showcase_text p{
  padding:5px 0 30px 0;
  color: var(--light);
  text-transform: uppercase;
}

/***************AGENT*****************************/
#agents h2{
  font-size: 40px;
  font-weight: bold;
  margin-right: 30px;
  margin-top: 30px;
  color:var(--secondary);
}

.agent_cover{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px;
  padding-top: 40px;
}
.agent_list{
  border:1px solid grey;
  box-shadow: var(--shadow);
  padding: 5px 0 10px 0;
  background-color: var(--light);
}
.img_container{
  border-radius: 50%;
  overflow: hidden;
  height:200px;
  width:200px;
  margin-left: 40px;
}
.img_container img{
  width: 100%;
  height: 100%;
}
.name{
  font-weight: bold;
  font-size: 18px;
 margin-top: 10px;
}
.agent_cover p{
  font-size: 16px;
  padding:10px;
}

/****************CALL*******************/

.call{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://res.cloudinary.com/evansinho/image/upload/v1560631343/showcase_1.jpg') no-repeat center center/cover;;
  height: 250px;
  margin-top:40px;
}
.call h1{
  font-size: 55px;
  font-weight: bolder;
  color:var(--light); 
}
.call h2{
  font-size: 40px;
  font-weight: bolder;
  color:var(--light);
  margin-top: 20px; 
}

/***************CONTACT*************************/

#contact{
  /*margin-top: 20px;*/
}
#contact h3{
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 40px;
  color:var(--secondary);
}

#contact input{
  margin-bottom: 30px;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}
#contact textarea{
   border-radius: 5px;
   margin-bottom: 15px;
}
#contact button{
  margin-bottom: 30px;
}

footer p{
  color:var(--light);
}
